html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  width: 100%;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

header {
  background-color: #2196F3;
  color: #ffffff;
  grid-column: span 12;
  text-align: left;
}

main {
  grid-column: span 12;
}

section {
  margin: 2rem 15rem auto 15rem;
  text-align: left;
}

.header-text {
  margin-left: 15rem;
}